[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
psycopg2-binary = "==2.9.1"
python-dotenv = "==0.19.0"
djangorestframework = "==3.12.4"
gunicorn = "==20.1.0"
pyjwt = "==2.1.0"
datetime = "==4.3"
celery = "==5.1.2"
python-magic = "==0.4.24"
django-cors-headers = "==3.10.0"
pytest = "==6.2.5"
pytest-django = "==4.4.0"
pytest-cov = "==3.0.0"

[dev-packages]
pylint = "==2.11.1"
flake8 = "==3.9.2"
mypy = "==0.910"
pycodestyle = "==2.7.0"

[requires]
python_version = "3.9"

[scripts]
start = 'bash ./scripts/start.sh'
cleanup = 'bash ./scripts/cleanup.sh'
test = 'bash ./scripts/tests.sh'
