<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Resumable.js DRF</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
<div id="frame">

    <h1>File hosting project. Created by Mikus Oleg</h1>
    <hr/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <label for="description-text">Description</label>
    <input type="text" id="description-text">

    <script src="{% static 'resumable.js' %}"></script>

    <div class="resumable-drop">
        Drop your files here or <a class="resumable-browse"><u>select from your computer</u></a>
    </div>

    <div class="resumable-progress">
        <table>
            <tr>
                <td width="100%">
                    <div class="progress-container">
                        <div class="progress-bar"></div>
                    </div>
                </td>
                <td class="progress-text" nowrap="nowrap"></td>
                <td class="progress-pause" nowrap="nowrap">
                    <a href="#" onclick="r.upload(); return(false);" class="progress-resume-link"><img
                            src="https://raw.githubusercontent.com/GuDuJian-J-Zhang/resumable.js/feature.python-flask.dev/samples/python-flask/static/resume.png"
                            title="Resume upload"/></a>
                    <a href="#" onclick="r.pause(); return(false);" class="progress-pause-link"><img
                            src="https://raw.githubusercontent.com/GuDuJian-J-Zhang/resumable.js/feature.python-flask.dev/samples/python-flask/static/pause.png"
                            title="Pause upload"/></a>
                    <a href="#" onclick="r.cancel(); return(false);" class="progress-cancel-link"><img
                            src="https://raw.githubusercontent.com/GuDuJian-J-Zhang/resumable.js/feature.python-flask.dev/samples/python-flask/static/cancel.png"
                            title="Cancel upload"/></a>
                </td>
            </tr>
        </table>
    </div>

    <ul class="resumable-list"></ul>
    <script src="{% static 'resumable_settings.js' %}"></script>

</div>
</body>
</html>